.header {
    z-index: 10;
    
    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
        
        list-style: none;

        &-item {
            margin: 0 1px;
        }

        &-link {
            display: block;
            font-size: 16px;
            line-height: 16px;
            text-decoration: none;
            text-transform: uppercase;
            color: #fff;

            transition: 0.3s all;

            &:hover {
                color: #80693f;
            }
        }
    }

    &__social {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-item {
            width: 27px;
            height: 22px;

            cursor: pointer;

            transition: 0.2s all;

            &_inst {
                background: url('../../icons/social/instagram.png') -1px -2px no-repeat;

                &:hover {
                    background: url('../../icons/social/instagram.png') -1px -27px no-repeat;
                }
            }

            &_fb {
                background: url('../../icons/social/facebook.png') -2px -2px no-repeat;

                &:hover {
                    background: url('../../icons/social/facebook.png') -2px -27px no-repeat;
                }
            }

            &_vk {
                background: url('../../icons/social/vkontakte.png') 1px -2px no-repeat;

                &:hover {
                    background: url('../../icons/social/vkontakte.png') 1px -27px no-repeat;
                }
            }
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &-item {
            display: block;

            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            text-decoration: none;
            color: #fff;

            transition: 0.3s all;

            &:hover {
                color: #80693f;
            }
        }
    }

    .row {
        align-items: center;
        
        --bs-gutter-x: 0;
    }

}

@media (max-width: 1200px) {
    .header {
        &__menu {

            &-item {
                margin: 0 2px;
            }

            &-link {
                font-size: 14px;
                line-height: 14px;
            }
        }
    }
}

@media (max-width: 991px) {
    .header {
        position: fixed;

        width: 100%;
        height: 40px;

        nav {
            display: none;
        }

        &__menu {
            justify-content: space-between;
            flex-wrap: wrap;

            &-item {
                margin-bottom: 5px;
            }

            &-link {
                font-size: 12px;
                line-height: 12px;
            }
        }
    }
}

@media (max-width: 575px) {
    .header {
        &__social {
            width: 100px;
            margin-top: 7px;
        }

        &__contacts {
            width: 200px;
            margin-left: -30px;
        }
    }
}