.header {
    z-index: 10;
    
    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
        
        list-style: none;

        &-item {
            margin: 0 1px;
        }

        &-link {
            display: block;
            font-size: 16px;
            line-height: 16px;
            text-decoration: none;
            text-transform: uppercase;
            color: #fff;

            transition: 0.3s all;

            &:hover {
                color: #80693f;
            }
        }
    }

    &__social {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-item {
            width: 27px;
            height: 22px;

            cursor: pointer;

            transition: 0.2s all;

            &_inst {
                background: url('../../icons/social/instagram.png') -1px -2px no-repeat;

                &:hover {
                    background: url('../../icons/social/instagram.png') -1px -27px no-repeat;
                }
            }

            &_fb {
                background: url('../../icons/social/facebook.png') -2px -2px no-repeat;

                &:hover {
                    background: url('../../icons/social/facebook.png') -2px -27px no-repeat;
                }
            }

            &_vk {
                background: url('../../icons/social/vkontakte.png') 1px -2px no-repeat;

                &:hover {
                    background: url('../../icons/social/vkontakte.png') 1px -27px no-repeat;
                }
            }
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &-item {
            display: block;

            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            text-decoration: none;
            color: #fff;

            transition: 0.3s all;

            &:hover {
                color: #80693f;
            }
        }
    }

    .row {
        align-items: center;
        
        --bs-gutter-x: 0;
    }

}

.hamburger {
    display: none;
}

@media (max-width: 1200px) {
    .header {
        &__menu {

            &-item {
                margin: 0 2px;
            }

            &-link {
                font-size: 14px;
                line-height: 14px;
            }
        }
    }
}

@media (max-width: 991px) {
    .header {
        position: fixed;
		top: 20px;
		right: 20px;

        width: 100%;
        height: 40px;

        &__menu {
            position: fixed;
			top: 0;
			left: -100%;
			
			flex-direction: column;
			justify-content: flex-start;
			width: 50%;
			padding: 20px 10px;

			background-color: rgba(0, 0, 0, 0.8);

			transition: 0.6s all; 

			&_active {
				left: 0; 
			}

			&-item {
				width: 100%;
				height: 50px;
				margin: 0 0 50px;
				
				border: none;
			}

			&-link {
				width: 100%;

				font-size: 18px;
				line-height: 50px;
				text-align: center; 
			}
		}

		&__social {
			display: none;
		}

		&__contacts {
			display: none;
		}
    }

	.hamburger {
        position: absolute;
        top: 50%;
        right: 10px;

        display: block;
        width: 26px;
        height: 12px;
        
        transform: translateY(-50%);

        cursor: pointer;

        & span {
            display: block;
            width: 100%;
            height: 2px;
            margin-bottom: 4px;

            background-color: #ffffff;
            
            transition: 0.5s all;
        }
        
        &_active span {
            margin-bottom: -2px; 

            &:first-child {
                transform: translateY(5px) rotate(-45deg);
            }

            &:nth-child(2) {
                display: none; 
            }

            &:last-child {
                transform: translateY(5px) rotate(45deg); 
            }
        }
    }
}

@media (max-width: 575px) {
    .header {
        &__social {
            width: 100px;
            margin-top: 7px;
        }

        &__contacts {
            width: 200px;
            margin-left: -30px;
        }
    }
}