.promo {
    position: relative;

    min-height: 660px;
    padding: 40px 0 0 0;

    background: url('../img/bg_main.png') 50% 0% no-repeat;

    &__wrapper {
        width: 270px;
        margin-top: 130px;
    }

    &__logo {
        width: 220px;
        height: 150px;
    }

    &__descr {
        margin-top: 40px;

        font-size: 20px;
        line-height: 20px;
        font-family: 'Oranienbaum', serif;
        text-transform: uppercase;
        letter-spacing: -0.5px;
        color: #fff;
    }

    &__link {
        display: block;
        margin-top: 5px;

        font-size: 16px;
        line-height: 16px;
        font-family: 'Oranienbaum', serif;
        text-decoration: underline;
        text-transform: uppercase;
        color: #a38c60;

        transition: 0.3s all;

        &:hover {
            color: #80693f;
        }
    }
}

@media (max-width: 1199px) {
    .promo {
        background: url('../img/bg_main.png') 50% 0% no-repeat;

        &__wrapper {
            margin-left: 10px;
        }
    }
}

@media (max-width: 991px) {
    .promo {
        background: url('../img/bg_main.png') 60% 0% no-repeat;
    }
}

@media (max-width: 767px) {
    .promo {
        background: url('../img/bg_main.png') 50% 0% no-repeat;
    }
}

@media (max-width: 575px) {
    .promo {
        background: url('../img/bg_main.png') 48% 0% no-repeat;

        &__wrapper {
            margin: 150px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }

    }
}