.process {
    padding-bottom: 70px;

    background-color: #fff;

    .title {
        text-align: left;
    }

    &__content {
        margin-top: 60px;
    }

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__img {
        margin-right: 38px;
        width: 190px;
    }

    &__descr {
        padding-right: 58px;

        font-weight: 300;
        font-size: 24px;
        line-height: 24px;
        color: #323232;
    }
}

@media (max-width: 767px) {
    .process {
        &__descr {
            padding-right: 25px;
    
            font-size: 20px;
            line-height: 24px;
        }
    }
}

@media (max-width: 575px) {
    .process {
        &__img {
            margin-right: 10px;
            width: 190px;
        }

        &__descr {
            padding-right: 10px;
    
            font-size: 14px;
            line-height: 20px;
        }
    }
}